<div class="row">
    <div class="col-md-12">
        {% if photos %}
            <img id="myImg" data-id="{{ photos.0.id }}" class="d-block img-fluid p-2"
                 src="{{ photos.0.image.url }}">
        {% endif %}
    </div>
</div>
<div class="row p-3">
    {% for photo in photos %}
        {% if not forloop.first %}
            <div class="col-md-3 p-2">
                <img class="d-block img-fluid" src="{{ photo.image.url }}">
            </div>
        {% endif %}
    {% endfor %}
</div>